@import "src/shared/assets/styles";

.wrap{
  display: flex;
  flex-direction: column-reverse;
  font: $p-regular;
  margin-top: .5rem;
  margin-bottom: .5rem;
  position: relative;
  .select {
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    z-index: 1;
    position: relative;
    &::placeholder{
      opacity: 0;
    }
    &:focus + .label, &:not(:placeholder-shown) + .label{
      position: relative;
      top: 0;
      font-size: .9em;
      left: 5px;
      color: $main-light;
    }
  }
}
